html, body, .pic {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: #111;
}

.pic {
    background-size: contain !important;
}

.instructions {
  color: #fff;
  position: fixed;
  left: 50%;
  bottom: 30px;
  font-family: sans-serif;
  transform: translateX(-50%);
}
