html, body, .pic {
    margin: 0;
    width: 100%;
    height: 100%;
}
.pic {
    background-size: cover !important;
}

.more-john {
    background-color: #3de1e2;
    bottom: 30px;
    border: none;
    border-bottom: 5px solid #2facad;
    color: #444;
    cursor: pointer;
    font-size: 1.3em;
    left: 50%;
    outline: none;
    padding: 13px 40px;
    position: fixed;
    transform: translate(-50%, -50%);
}